body#nan {
  display: block; }

.submit {
  display: block;
  margin: auto; }

.name,
.comment,
.submit {
  text-align: center; }

.main_name,
.main_comment {
  margin-top: 26px;
  font-size: 30px;
  color: #FFD700;
  text-align: center; }

.name {
  height: 26px;
  width: auto; }

.comment {
  height: 100px;
  width: 40%;
  margin: 0 0 26px 0; }

a {
  text-decoration: none; }

.tandem {
  display: flex;
  justify-content: center; }

.newComment a img {
  display: block;
  width: 120px;
  top: 37px;
  right: 2px;
  position: fixed; }

.santa {
  width: 15%;
  position: absolute;
  top: 13%;
  right: 7%;
  transform: rotate(340deg); }
