body {
  color: black;
  font-size: 14px;
  width: ();
  background-color: #00008B;
  background-image: url("../img/backImg_town.png");
  background-repeat: repeat-x;
  background-position: bottom;
  margin: 0 auto 120px auto;
  background-attachment: fixed; }

.font_style {
  font-family: 'Dancing Script', cursive; }

h1 {
  color: #FFD700;
  font-size: 38px;
  padding: 10px 0 0 10px; }

.text_main {
  width: calc(100% - 30%);
  height: auto;
  margin: auto;
  color: red;
  background-color: #ffffff;
  opacity: 0.8;
  overflow-x: hidden; }

table.text_table {
  border-radius: 10%;
  width: 100%; }

tr,
td {
  border: 0; }

.boder_top {
  background-image: url(../img/boderImg.png);
  background-repeat: repeat-x;
  background-size: auto 20px;
  margin-top: 30px; }

.table_top {
  margin: 30px; }

.name {
  float: left;
  width: calc(100% - 70%);
  margin: 0; }

.comment {
  text-align: center;
  margin: 40px; }

.bookmark_img1 {
  background: url("../img/bookmarker_off.png") no-repeat center center/contain;
  padding: 20px;
  display: block;
  margin: 0 auto 30px; }

.bgPink {
  color: #FFD700; }

.top {
  position: fixed;
  bottom: 100px;
  right: 20px;
  width: 20px;
  height: auto; }
  .top a {
    display: block;
    text-decoration: none; }
    .top a img {
      display: block;
      width: 100%; }
  .top:hover {
    opacity: 0.85; }

.bottom {
  position: fixed;
  bottom: 60px;
  right: 20px;
  width: 20px;
  height: auto; }
  .bottom a {
    display: block;
    text-decoration: none; }
    .bottom a img {
      display: block;
      width: 100%;
      transform: rotate(180deg); }
  .bottom:hover {
    opacity: 0.85; }

input.submit {
  display: block;
  margin: auto; }

.newComment {
  position: fixed;
  top: 40px;
  right: 10px;
  width: 100px;
  height: auto; }
  .newComment a {
    display: block;
    text-decoration: none; }
    .newComment a img {
      display: block;
      width: 120px;
      top: 37px;
      right: 2px;
      position: fixed; }
  .newComment_link {
    position: fixed;
    top: 10%;
    right: 3%; }
  .newComment_text {
    margin-bottom: 20px;
    color: black;
    position: block;
    font-size: 20px;
    text-align: center; }
  .newComment:hover {
    opacity: 0.9; }
