body#nan{f00727m
               : block;
    background-image: url("../img^");
}
.submit{
    display: block;
    margin: auto;
}
.name{
height: 26px;
width: auto;
}
.comment{
height: 100px;
width: 30%;
}