body#nan {
    display: block;
}

.submit {
    display: block;
    margin: auto;
}

.name,
.comment,
.submit {
    text-align: center;
}

.main_name,
.main_comment{
    margin-top: 26px;
    font-size: 30px;
    color:#FFD700;
    text-align: center;
}
.name {
    height: 26px;
    width: auto;
}

.comment {
    height: 100px;
    width: 40%;
    margin: 0;
}
a{
    text-decoration: none;
}

.tandem {
    display: flex;
    justify-content: center;
}
.santa{
    width: 15%;
    position: absolute;
    top: 8%;
    right: 6%;
    transform: rotate(340deg);
}

