body#nan{
    display: block;
}
.submit{
    display: block;
    margin: auto;
}
.name{
height: 26px;
width: auto;
margin: 30px;
}
.comment{
height: 100px;
width: 30%;
margin: 0 30px;
}
.tandem{
    display:flex;
    justify-content: center;
}
