body#nan {
    display: block;
}

.submit {
    display: block;
    margin: auto;
}

.name,
.comment,
.submit {
    margin-top: 30px;
    text-align: center;
}

.name {
    height: 26px;
    width: auto;
}

.comment {
    height: 100px;
    margin-top: 30px;
    width: 40%;
}
a{
    text-decoration: none;
}

.tandem {
    display: flex;
    justify-content: center;
}
.santa{
    width: 15%;
    position: absolute;
    top: 8%;
    right: 6%;
    transform: rotate(70deg);
}