body#nan{
    display: block;
}
.submit{
    display: block;
    margin: auto;
}
.name{
height: 26px;
width: auto;
margin-top: 30px;
}
.comment{
height: 100px;
margin-top: 30px;
width: 30%;
}
.submit{
margin-top: 30px;

}
.tandem{
    display:flex;
    justify-content: center;
}
