body#nan{
    display: block;
}
.submit{
    display: block;
    margin: auto;
}
.name{
height: 26px;
width: auto;
margin: 30px;
}
.comment{
height: 100px;
width: 30%;
margin: 30px;
}
.Tandem{
    display:block;
    height: 500px;
    width: 600px;
    margin: auto;
    flex-wrap:wrap
    line-height;10px;
}