body {
    color: aqua;
    font-size: 10px;
    width: 100px;
    background-color: #00008B;
    width: 100%;
    margin: auto;
}
.text_main{
    width:70%; 
    height:auto; 
    margin:auto;
    background-color: #fff;
    opacity: 0.5;
}


.name {
    text-align: left;
}

.comment {
    text-align: center;
}