body {
    color: #ffccff;
    font-size: 10px;
    // width: 30%;
    width: call(100% - 70%);
    background-color: #00008B;
    background-image: url("../img/backImg_town.png");
    background-repeat: repeat-x;
    background-position: bottom;
    margin: auto;
    background-attachment: fixed;
}

.font_style {
    font-family: 'Dancing Script', cursive;
}

h1 {
    color: #FFD700;
    font-size: 38px;
    padding: 10px 0 0 10px;
}

.text_main {
    // width: 70%;
    width: calc(100% - 30%);
    height: auto;
    margin: auto;
    color: red;
    background-color: #ffffff;
    // background-color: #dfd;
    opacity: 0.8;
}

table.text {
    &_table {
        border-radius: 10%;
        width: 100%;
        // border:1px solid #ccffff;
    }
}

tr,
td {
    border: 0;
}

.boder_top {
    background-image: url(../img/boderImg.png);
    background-repeat: repeat-x;
    background-size: auto 20px;
}


.table_top {
    margin: 30px;
}

.name,
.no,
.time{

}
.name {
    float: left;
    width: calc(100% - 70%);
    margin: 0;
}

.no {
    float: left;
    text-align: right;
    width: calc(100% - 80%);
    margin: 0;
}

.time {
    float: left;
    text-align: right;
    width: calc(100% - 80%);
}

.comment {
    text-align: center;
    margin: 40px;
}

.table_bottom {
    display: flex;
    justify-content: space-around;
    font-size: 10px;
    margin-bottom: 20px;
}

.reply_comment1 {
    background: url("../img/replyIcon_off.png") no-repeat center center / contain;
    padding: 20px;
}

.reply_comment1:hover {
    background: url("../img/replyIcon_on.png") no-repeat center center / contain;
}

.bookmark_img1 {
    background: url("../img/bookmarker_off.png") no-repeat center center / contain;
    padding: 20px;
}

.bookmark_img2 {
    background: url("../img/bookmarker_on.png") no-repeat center center / contain;
}

.star_baseColor {
    color: #ffffff;
    background-color: #ffffff;
    opacity: 0.85;
}

.bgPink {
    color: #FFD700;
}

.top {
    position: fixed;
    bottom: 100px;
    right: 20px;
    width: 20px;
    height: auto;
    transform: rotate(270deg);

    a {
        display: block;
        text-decoration: none;

        img {
            display: block;
            width: 100%;
        }
    }

    &:hover {
        opacity: 0.85;
    }
}

.bottom {
    position: fixed;
    bottom: 60px;
    right: 20px;
    width: 20px;
    height: auto;
    transform: rotate(90deg);

    a {
        display: block;
        text-decoration: none;

        img {
            display: block;
            width: 100%;
        }
    }

    &:hover {
        opacity: 0.85;
    }
}

input.submit {
    display: block;
    margin: auto;
}

.newComment {
    position: fixed;
    top: 40px;
    right: 10px;
    width: 100px;
    height: auto;

    a {
        display: block;
        text-decoration: none;

        img {
            display: block;
            width: 120px;
            top: 37px;
            right: 2px;
            position: fixed;
        }
    }

    &_link {
        position: fixed;
        top: 10%;
        right: 3%;
    }

    &_text {
        margin-bottom: 20px;
        color: black;
        position: block;
        font-size: 20px;
        text-align: center;
    }

    &:hover {
        opacity: 0.9;
    }
}