body {
    color: #ffccff;
    font-size: 10px;
    width: 100px;
    background-color: #00008B;
    width: 100%;
    margin: auto;
}
.text_main{
    width:70%; 
    height:auto; 
    margin:auto;
    background-color: #fff;
    opacity: 0.8;
}


.name {
    float: left;
    width: 50%;
    margin: 0;
}

.comment {
    text-align: center;
}
.no{
    float: left;
    text-align: right;
    width: 50%;
    margin: 0;
}