body {
    color: aqua;
    font-size: 10px;
    width: 100px;
    background-color: #00008B;
    width: 100%;
    margin: auto;
}

.name {
    text-align: left;
}

.comment {
    text-align: center;
}