body {
    color: #ffccff;
    font-size: 10px;
    width: 100px;
    background-color: #00008B;
    background-image: url("../img/backImg_town.png");
    background-repeat: repeat-x;
    background-position: bottom;
    width: 100%;
    margin: auto;
    background-attachment: fixed;
}

.font_style {
    font-family: 'Dancing Script', cursive;
}

h1 {
    color: #FFD700;
    font-size: 38px;
    padding: 10px 0 0 10px;
}

.text_main {
    width: 70%;
    height: auto;
    margin: auto;
    color: red;
    background-color: #ffffff;
    // background-color: #dfd;
    opacity: 0.8;
}

table.text {
    &_table {
        border-radius: 10%;
        width: 100%;
        // border:1px solid #ccffff;
    }
}

tr,
td {
    border: 0;
}

.boder_top {
    background-image: url(../img/boderImg.png);
    background-repeat: repeat-x;
    background-size: auto 20px;
}


.table_top {
    margin-top: 20px;
}

.name {
    float: left;
    width: 50%;
    margin: 0;
}

.no {
    float: left;
    text-align: right;
    width: 20%;
    margin: 0;
}

.time {
    float: left;
    text-align: right;
    width: 20%;
}

.comment {
    text-align: center;
}

.table_bottom {
    display: flex;
    justify-content: space-around;
    font-size: 10px;
    margin-bottom: 20px;
}

.reply_comment1 {
    background: url("../img/replyIcon_off.png") no-repeat center center / contain;
    padding: 20px;
}

.reply_comment1:hover {
    background: url("../img/replyIcon_on.png") no-repeat center center / contain;
}

.bookmark_img1 {
    background: url("../img/bookmarker_off.png") no-repeat center center / contain;
    padding: 20px;
}

.bookmark_img2 {
    background: url("../img/bookmarker_on.png") no-repeat center center / contain;
}

.star_baseColor {
    color: #ffffff;
    background-color: #ffffff;
    opacity: 0.85;
}

.bgPink {
    color: #FFD700;
}

.top {
    position: fixed;
    bottom: 100px;
    right: 20px;
    width: 20px;
    height: auto;
    transform: rotate(270deg);

    a {
        display: block;
        text-decoration: none;

        img {
            display: block;
            width: 100%;
        }
    }

    &:hover {
        opacity: 0.85;
    }
}

.bottom {
    position: fixed;
    bottom: 60px;
    right: 20px;
    width: 20px;
    height: auto;
    transform: rotate(90deg);

    a {
        display: block;
        text-decoration: none;

        img {
            display: block;
            width: 100%;
        }
    }

    &:hover {
        opacity: 0.85;
    }
}

.newComment {
    position: fixed;
    bottom: 400px;
    right: 10px;
    width: 100px;
    height: auto;

    a {
        display: block;
        text-decoration: none;

        img {
            display: block;
            width: 100%;
        }
    }

    &:hover {
        background: -moz-linear-gradient(left, rgba(252,234,187,1) 0%, rgba(252,205,77,1) 34%, rgba(0,0,139,1) 79%, rgba(0,0,139,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(252,234,187,1)), color-stop(34%, rgba(252,205,77,1)), color-stop(79%, rgba(0,0,139,1)), color-stop(100%, rgba(0,0,139,1)));
background: -webkit-linear-gradient(left, rgba(252,234,187,1) 0%, rgba(252,205,77,1) 34%, rgba(0,0,139,1) 79%, rgba(0,0,139,1) 100%);
background: -o-linear-gradient(left, rgba(252,234,187,1) 0%, rgba(252,205,77,1) 34%, rgba(0,0,139,1) 79%, rgba(0,0,139,1) 100%);
background: -ms-linear-gradient(left, rgba(252,234,187,1) 0%, rgba(252,205,77,1) 34%, rgba(0,0,139,1) 79%, rgba(0,0,139,1) 100%);
background: linear-gradient(to right, rgba(252,234,187,1) 0%, rgba(252,205,77,1) 34%, rgba(0,0,139,1) 79%, rgba(0,0,139,1) 100%);
        // border: 10px solid red;
        border-radius: 58px;
        
    }
}

.newComment_text {
    color: black;
    position: absolute;
    right: 30px;
    bottom: 421px;
    font-size: 20px;
    text-align: center;
}