body {
    color: #ffccff;
    font-size: 10px;
    width: 100px;
    background-color: #00008B;
    background-image: url("../img/backImg_town.png");
    background-repeat: repeat-x;
    background-position: bottom;
    width: 100%;
    margin: auto;
    background-attachment: fixed;
}

h1 {
    color: #FFD700;
}

.text_main {
    width: 70%;
    height: auto;
    margin: auto;
    color: red;
    background-color: #ffffff;
    // background-color: #dfd;
    opacity: 0.8;
}

table .text{
    &_table {
        border-radius: 10%;
        width: 100%;
        // border:1px solid #ccffff;
    }
}

tr,
td {
    border: 0;
}

.boder_top {
    background-image: url(../img/boderImg.png);
    background-repeat: repeat-x;
    background-size: auto 20px;
}


.table_top {
    margin-top: 20px;
}

.name {
    float: left;
    width: 50%;
    margin: 0;
}

.no {
    float: left;
    text-align: right;
    width: 20%;
    margin: 0;
}

.time {
    float: left;
    text-align: right;
    width: 20%;
}

.comment {
    text-align: center;
}

.table_bottom {
    display: flex;
    justify-content: space-around;
    font-size: 10px;
    margin-bottom: 20px;
}

.reply_comment1 {
    background: url("../img/replyIcon_off.png") no-repeat center center / contain;
    padding: 20px;
}

.reply_comment1:hover {
    background: url("../img/replyIcon_on.png") no-repeat center center / contain;
}

.bookmark_img1 {
    background: url("../img/bookmarker_off.png") no-repeat center center / contain;
    padding: 20px;
}

.bookmark_img2 {
    background: url("../img/bookmarker_on.png") no-repeat center center / contain;
}

.star_baseColor {
    color: #ffffff;
    background-color: #ffffff;
    opacity: 0.85;
}

.bgPink {
    color: #FFD700;
}