body {
    color: #ffccff;
    font-size: 10px;
    width: 100px;
    background-color: #00008B;
    width: 100%;
    margin: auto;

}
h1{
    color:#FFD700;
}
.text_main{
    width:70%; 
    height:auto; 
    margin:auto;
    color:red;
    background-color: #ffffff;
    // background-color: #dfd;
    opacity: 0.8;
}
table.text_table{
    border-radius: 10%;
    width: 100%;
    border:1px solid #ccffff;
}
tr,td{
    border: 0 ;
}

.name {
    float: left;
    width: 50%;
    margin: 0;
}
.no{
    float: left;
    text-align: right;
    width: 20%;
    margin: 0;
}
.time{
    float: left;
    text-align: right;
    width: 20%;
}
.comment {
    text-align: center;
}
.table_bottom{
    display: flex;
    justify-content: space-around;
    font-size: 10px;
}
.bookmark_img1{
    background: url("../img/bookmarker_off.png") 100px ;
    // width: 100px;
}
.bookmark_img2{
    background: url("../img/bookmarker_on.png") 100px ;
}

.star_baseColor{
    color:#ffffff;
    // border:0;
    background-color: #ccc;
  }
  .bgPink{
    color:#FFD700;
  }

  